@use "../../../styles/variables/variables.scss" as variables;
@use "../../../styles/mixins/mixins.scss" as mixins;

.odinPopularMovies {
  margin-top: -1rem;
  position: relative;
  width: 100%;
  overflow: hidden;

  .popularesNoMomento {
    margin: 1rem;
    font-size: 18px;
    font-weight: bold;

    @include mixins.respond-to("medium") {
      font-size: 29px;
    }

    @include mixins.respond-to("large") {
      font-size: 33px;
    }

    @include mixins.respond-to("xlarge") {
      font-size: 35px;
    }
  }

  .movies-container {
    display: flex;
    align-items: center;
    position: relative;
    min-width: 70%;
    max-width: 100%;

    .listaPopularMovies {
      align-items: center;
      justify-content: space-around;

      transition: transform 0.3s ease;

      .itensPopularMovies {
        // flex: 0 0 auto;
        max-width: 200px;
        margin: 0.4rem;

        @include mixins.respond-to("medium") {
          margin-left: 0.8rem;
        }

        .popularMoviesImages {
          width: 153.3px;
          height: auto;
          border-radius: 4px;
          transition: transform 0.3s;

          @include mixins.respond-to("medium") {
            width: 176px;
          }

          @include mixins.respond-to("large") {
            cursor: pointer;
            width: 190px;
            &:hover {
              transform: scale(0.9);
            }
          }

          @include mixins.respond-to("xlarge") {
            cursor: pointer;
            width: 210px;
            &:hover {
              transform: scale(0.9);
            }
          }
        }
      }
    }
  }

  .carousel-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 5px;
    font-size: 24px;
    z-index: 1;
    transition: background-color 0.3s;
    @include mixins.respond-to("large") {
      &:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }
    }

    @include mixins.respond-to("xlarge") {
      &:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }
    }

    &.prev {
      position: absolute;
      left: 10px;
    }

    &.next {
      position: absolute;
      right: 10px;
    }
  }
}
