@use "../../../styles/variables/variables.scss" as variables;
@use "../../../styles/mixins/mixins.scss" as mixins;

.odinPopularMovies {
  margin-top: 4.5rem;
  position: relative;
  width: 100%;
  overflow: hidden;

  .popularesNoMomento {
    margin: 1rem;
    font-size: 24px;
    font-weight: bold;

    @include mixins.respond-to("medium") {
      font-size: 29px;
    }

    @include mixins.respond-to("large") {
      font-size: 33px;
    }

    @include mixins.respond-to("xlarge") {
      font-size: 35px;
    }
  }

  .movies-container {
    display: flex;
    align-items: center;
    position: relative;
    }

    .listaPopularMovies {
      display: flex;
      transition: transform 0.3s ease;

      .itensPopularMovies {
        flex: 0 0 auto;
        max-width: 200px;
        gap: 0.1rem;
        margin: 0.5rem;

        @include mixins.respond-to("medium") {
          margin-left: 0.8rem;
          gap: 0.9rem;
        }

        .popularMoviesImages {
          width: 150px;
          height: auto;
          border-radius: 4px;
          transition: transform 0.3s;
         
          @include mixins.respond-to("medium"){
            width: 175px;
          }

          @include mixins.respond-to("large") {
            width: 190px;
            &:hover {
              transform: scale(0.9);
            }
          }

          @include mixins.respond-to("xlarge") {
            width: 200px;
            &:hover {
              transform: scale(0.9);
            }
          }
        }
      }
    }
  }

