@use "../../../styles/variables/variables.scss" as variables;
@use "../../../styles/mixins/mixins.scss" as mixins;

.odinPopularMovies {
  margin-top: 4.5rem;

  @include mixins.respond-to("medium") {
    margin-top: 6.5rem;
  }

  @include mixins.respond-to("large") {
    margin-top: 6.5rem;
  }
}

.popularesNoMomento {
  font-size: 20px;
  font-weight: 700;
  line-height: 15px;
  margin-bottom: 1rem;
  margin-left: 0.5rem;

  @include mixins.respond-to("medium") {
    font-size: 24px;
    margin-left: 0.9rem;
  }

  @include mixins.respond-to("large") {
    font-size: 29px;
    margin-left: 1rem;
  }
}

.listaPopularMovies {
  gap: 0.5rem;

  @include mixins.flex_center;
  justify-content: flex-end;
  flex-flow: row nowrap;
  @include mixins.respond-to("medium") {
    gap: 0.8rem;
  }

  @include mixins.respond-to("large") {
    gap: 1rem;
  }
}

.popularMoviesImages {
  border-radius: 2px;
  width: 103px;
  height: 161px;

  @include mixins.respond-to("medium") {
    width: 115px;
    height: 175px;
  }

  @include mixins.respond-to("large") {
    width: 150px;
    height: 200px;
    transition: ease 0.2s;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
}
