// Breakpoints para responsividade
$breakpoints: (
  'small': 576px,
  'medium': 768px,
  'large': 992px,
  'xlarge': 1200px,
  'xxlarge': 1400px
);

// Outras variáveis
$font-stack: "Poppins";
$background-color: #000;
$text-color: #fff;

