.OdinGrande {
  margin-top: 0;
  height: 100%;
  width: 100%;
}

.BackdropImage {
  width: 100%;
  height: 100%;
  z-index: -2;
}

.conteudos {
 
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;

  .btns {
    margin-left: 50%;
    margin-right: 50%;
    display: flex;
    gap: 20px;
    

    button {
      background-color: transparent;
      border: none;
    }
    .play {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      background-color: lightgray;
      color: #000;

      width: 110px;
      border-radius: 5px;
    }
  }

  //telas maiores
  .conteudosTelaGrande {
    display: none;
  }

  .titulo {
    margin-top: -10rem;
    font-size: 18px;
    font-weight: bold;
  }
  //telas maiores
}
