@use "../../../styles/variables/variables.scss" as variables;
@use "../../../styles/mixins/mixins.scss" as mixins;

.Odin {
  position: absolute;
  width: 100%;
  height: 50px;
  flex-shrink: 0;
  margin: 0.1rem 0.5rem 0.4rem 1rem;
  top: -10px;

  .LogoImgDesktop {
    display: none;
  }

  .LogoImg {
    width: 54px;
    height: 59px;
    flex-shrink: 0;
  }

  // responsividade tablets
  @include mixins.respond-to("medium") {
    width: 80%;
    margin-top: -5.5rem;
    margin-left: 0.7rem;

    .LogoImg {
      display: none;
    }
    .LogoImgDesktop {
      display: block;
      width: 65%;
      height: 250px;
    }
  }

  // responsividade desktops
  @include mixins.respond-to("large") {
    width: 80%;
    height: 100px;
    top: -120px;
    margin: 1.5rem auto;

    .LogoImg {
      display: none;
    }

    .LogoImgDesktop {
      display: block;
      width: 50%;
      height: 250px;
      margin-left: 1rem;
    }
  }
}

.paiDaLista {
  position: absolute;
  margin-top: 1rem;
  margin-right: -5%;
  gap: 3rem;
  flex-flow: row nowrap;
  justify-content: space-between;
  z-index: 10;
  @include mixins.flex_center;

  // responsividade tablets
  @include mixins.respond-to("medium") {
    width: 100%;
  }

  ul {
    gap: 1.2rem;
    margin-right: 0.7rem;
    @include mixins.flex_center;

    // responsividade tablets
    @include mixins.respond-to("medium") {
      @include mixins.respond-to("medium") {
        width: 100%;
        justify-content: space-between;
        gap: 10px;
      }

      // responsividade desktop
      @include mixins.respond-to("large") {
        justify-content: flex-start;
        gap: 30px;
      }

      li {
        font-weight: 400;
        font-size: 18px;

        // responsividade tablets
        @include mixins.respond-to("medium") {
          font-size: 22px;
        }

        // responsividade desktop
        @include mixins.respond-to("large") {
          font-size: 25px;
          transition: ease;
          cursor: pointer;

          &:hover {
            color: #cfcdcd;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
